.team-member img {
  max-width: 225px;
}
.siteOwnLogo {
  height: 45px;
  position: relative;
  top: -15px;
  fill: #FFF;
}
.navbar-default .nav li a,
.siteOwnLogo {
  transition: all 200ms linear;
}
.siteOwnLogo:hover,
.navbar-default .nav li a:hover {
  fill: #FE3467;
  color: #FE3467;
}
.blogList {
  padding-top: 80px;
}
.blogList .card {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.blogList .card-title:hover {
  text-decoration: none !important;
  color: #FE3467;
}
.btn--readMore {
  color: #FE3467;
}
.btn--readMore:hover {
  color: #000;
}
