{{ "<!-- Footer section -->" | safeHTML }}
<footer>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="list-inline social-buttons">

          {{ range .Site.Params.footer.social }}
            <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-12">
        <ul class="list-inline quicklinks">

          {{ range .Site.Params.footer.quicklinks }}
            <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
          {{ end }}

        </ul>
      </div>
      <div class="col-md-12">
        <span class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
      </div>
    </div>
  </div>
</footer>
<script src="https://cdn.auth0.com/js/lock/10.20/lock.min.js"></script>
<script>
  var lock = new Auth0Lock('M9BCvF0zmC1cThL4JBygsD78hJWUVHej', 'gutorov.auth0.com', {
    auth: {
      redirectUrl: 'https://permitted-co.netlify.com/',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>
