<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    <header>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ with .Params.tagline }}{{ . | markdownify }}{{ end }}</div>
          <div class="intro-heading">{{ with .Params.title }}{{ . | markdownify }}{{ end }}</div>
        </div>
      </div>
    </header>
    {{ .Data }}
    {{ range .Data.Pages }}
    {{ . }}
       <li>
           <a href="{{.Permalink}}">{{ .Date.Format "2006-01-02"}} | {{.Title}}</a>
       </li>
     {{ end }}


    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}


    {{ partial "js.html" . }}
  </body>
</html>
